/* Search Bar Styling */
.search-bar {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  font-size: 1rem;
  text-align: center;
  outline: none;
}

.search-bar:focus {
  box-shadow: 0 0 5px #3498db;
}